body {
  margin: 0;
  padding: 0;
  background-image: url('../public/image/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed;
}